extends layout 

block content 
  .container.mt-3 
    h1= category.name
    p= category.description
    form(method="POST" action=`${category.url}?_method=DELETE`)
      button.btn.btn-danger.mb-3(type="submit") Delete Category
    
    a.btn.btn-warning(href=`/category/${category._id}/edit`) Edit Category

    .row.py-3
      each item in items 
        .col-12.col-md-6
          .card.mb-3
            .card-body
              h5.card-title= item.name
              p.card-text= item.description
              .d-flex
                span.me-3 Price: $#{item.price.toFixed(2)}
                span Stock: #{item.stockQuantity}
            .card-footer.d-flex 
              a.btn.btn-primary.me-3(href=item.url) View
              a.btn.btn-warning.me-3(href=`/item/${item._id}/edit`) Edit
              form(method="POST" action=`${item.url}?_method=DELETE`)
                button.btn.btn-danger(type="submit") Delete

              